<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DreamPlannr</title>
    <style>
       body{
        padding-left: 10vw;
        padding-right: 10vw;
       }
       p{
        font-size: 19px;
       }
       h3{
        font-size: 25px;
       }
       h4{
        font-size: 23px;
       }
       h5{
        font-size: 20px;
       }
    </style>
</head>
<body>
    
    <p>On this page, you will find more information about what cookies are, which cookies are used by DreamPlannr, 
        and how you can influence cookies. </p>

    <h3><b>What are cookies?</b></h3>

    <p>A cookie is a piece of text given by a web server to a visiting browser, with the hope and expectation that the browser will return it on a subsequent visit.
        The cookie is an addition to the HTTP specification. The HyperText Transfer Protocol is used by everyone who visits a website: it regulates communication between a web server and a browser. However, it is not designed to see consecutive page visits as a whole. Therefore, it is not straightforward to retrieve data or settings on a subsequent visit.
        To make that possible, cookies and set-cookie headers for HTTP were introduced in 1997. This specification was last updated in April 2011 and is currently known as RFC 6265 HTTP State Management Mechanism. 
        </p>

    <h3><b>How do cookies work?</b></h3>

    <p>Contrary to what politicians may sometimes claim, cookies themselves are not programs or files, and technically nothing is stored on the visitor's computer by the web server. The browser can decide this on its own. Ultimately, cookies are often stored as a file, but a web server cannot force a browser to actually store or return cookies on a later visit.
        A cookie is always bound to a specific domain or subdomain. Cookies are only sent back to the same domain from where they originated. This ensures that only iAgenda servers receive the cookies obtained through iAgenda. Similarly, through JavaScript, only iAgenda can access cookies placed by iAgenda.
        An important point about cookies is that they can be received with every HTTP request, and all known, relevant cookies are sent with each request. This also applies to requests for images, JavaScript, and CSS files for a web page. Domain control is applied in those cases as well. 
        </p>

    <h4><b>First-party cookies</b></h4>

    <p>Cookies received for the same domain you are visiting are called first-party cookies. 
        When viewing this page, the cookies from DreamPlannr are first-party cookies. </p>

    <h4><b>Third-party cookies</b></h4>

    <p>It is also possible that a website contains elements from third parties. Common examples include embedded videos, advertisements, and social media buttons. If these elements send cookies from their own servers, they are called third-party cookies. Therefore, when visiting DreamPlannr, you may receive third-party cookies for Facebook.com, Youtube.com, and other third-party websites.
        If such cookies are not used, you will still see advertisements because ads are also displayed without using cookies.
        We use the following advertising cookies: Google Analytics Google Analytics is a web analytics service offered by Google Inc. Through these cookies, DreamPlannr gains insight into its website visits, such as visitor numbers, popular pages, and topics. DreamPlannr cannot see who (which PC) visits its website. DreamPlannr has entered into a data processing agreement with Google, has turned off "data sharing" with Google, and does not allow Google to process the full IP address. More information can be found here. Google Adsense DreamPlannr is funded by advertisements from Google. Cookies make advertising more effective. Without cookies, it is more challenging for an advertiser to reach its target audience or determine how many ads have been displayed and how many clicks have been generated. 
        These cookies make it possible to:
              -keep track of which ads you have already seen to prevent you from seeing the same ad repeatedly
              -keep track of how many unique visitors click on the ad
              -show targeted ads (for example, a youth product on a youth website)
        </p>

    <h3><b>What are cookies used for on DreamPlannr?</b></h3>

    <p>Cookies make it possible to retrieve information from previous visits during subsequent visits. In practice, this is used to track whether you are logged in, have made certain settings, and have seen certain site elements before. Cookies that customize the functioning of the site to your preferences are called functional cookies.
        In addition, cookies can also be used to let the site know that a visitor has been on the site before. In this way, statistical data about the use of the website can be collected. A well-known example is Google Analytics. This involves working only with anonymized statistical information used by us to analyze and improve the operation of the site. Information about your browsing behavior can also be used to tailor ads to your interests. DreamPlannr uses only anonymized information about pages you have previously visited on DreamPlannr.
        The visitor profiles created by DreamPlannr itself using first-party cookies will never be shared with third parties and are only used to improve the quality and relevance of DreamPlannr. 
        </p>

    <h3><b>Which cookies does DreamPlannr use?</b></h3>

    <p>Tracking cookies
        We place tracking cookies on your device so that we can recognize your computer when you visit us again. There are two types of tracking cookies: session cookies and permanent cookies. Session cookies allow us to see which parts of the website were viewed on your computer during a visit. Permanent cookies allow us to recognize your computer when you revisit our website.
        Tracking cookies for our advertisements
        With tracking cookies, we collect information about where you have seen the ads and on which ads you have clicked.
        Analytics
        Cookies are placed by the companies Adobe and Google via our website. We use these cookies to gain insight into the use of our website so that we can improve it.
        Other/unforeseen cookies
        Due to the way the internet and websites work, we may not always have insight into the cookies placed by third parties via our website. This is especially the case if our web pages contain so-called 'embedded elements,' such as texts, documents, images, or videos that are stored by another party but are displayed on, in, or via our website.
        If you come across cookies on our website that fall into this category (and are therefore not mentioned above), please let us know or contact the respective third party directly to inquire about the cookies they have placed, the reasons for placement, the lifespan of the cookie(s), and how your privacy is ensured.
        <br><br> Disclaimer <br><br>     
        This overview of cookies on DreamPlannr.com is a snapshot. DreamPlannr strives to keep this list as up-to-date as possible. However, due to the dynamic nature of the internet and the many involved (external) parties, it may be that not all current cookies and/or sites are immediately found in this overview. 
        </p>

    <h3><b>How can I refuse cookies?</b></h3>

    <p>Without cookies, it is almost impossible for us to provide you, as a visitor, with the best experience when visiting the site. This is related to analyzing web statistics to determine how the site should look and navigate, but also to determine which content is popular and what is not being read by our visitors.
        As mentioned, we also need cookies to serve advertisements. Without advertising revenue, it is not possible to keep the site accessible for free and to further develop it. 
        </p>

    <h4><b>How can I delete cookies?</b></h4>

    <h5><b>Delete cookies in Internet Explorer</b></h5>

    <p>Go to the Tools menu > Internet options > General tab. Click on Delete under Browsing history.
        You may not want to delete everything. Ensure that at least Cookies is checked and click Delete.
        </p>

    <h5><b>Delete cookies in Firefox</b></h5>

    <p>Go to Tools > Options > Privacy tab. Click on Clear your recent history. Under Details, you can specify what you want to delete. 
        At least, check Cookies. You can also specify how old the cookies should be. Choose Everything here.</p>

    <h5><b>Delete cookies in Chrome</b></h5>

    <p>Click on the three dots in the top right corner. Click on Options > Advanced options tab. Click on Clear browsing</p>

</body>
</html>
  