<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DreamPlannr</title>
    <style>
       body{
        padding-left: 10vw;
        padding-right: 10vw;
       }
       p{
        font-size: 19px;
       }
       h3{
        font-size: 25px;
       }
       h4{
        font-size: 23px;
       }
       h5{
        font-size: 20px;
       }
    </style>
</head>
<body>
    
    <h3><b>Terms and Conditions</b></h3>

    <p>By using DreamPlannr, you agree to the following terms and conditions. The Data Processing Agreement, as part of privacy regulations, is also included in these terms. Additionally, you consent to the use of cookies. 
        More information about DreamPlannr's cookie usage can be found here.</p>

    <h4><b>General</b></h4>

    <p>These general terms and conditions apply to users and visitors of DreamPlannr.com.
        By using this website, the user or visitor declares agreement with the general terms and conditions.
        Users and visitors of DreamPlannr are expected to adhere to the provisions stated in point 
        DreamPlannr does not accept the general terms and conditions presented by the visitor or user.
        Visitors and users of DreamPlannr are expected to use the site reasonably, which includes: <br>
        <br> - No infringement on the proprietary rights of DreamPlannr. <br>
        <br> - No disclosure of confidential information from this site to third parties. <br>
        <br> - Not rendering the site unusable for its intended purpose. <br>
        <br> - No unauthorized access to DreamPlannr's site or systems. <br>
        <br> - No discrimination in any form. <br>
        </p>

    <h4><b>Property Rights</b></h4>

    <p>All components of this website are the property of DreamPlannr. 
        The use of parts of this website is prohibited unless DreamPlannr has provided written permission.</p>

    <h4><b>Liability</b></h4>

    <p>DreamPlannr is not responsible for any form of damage resulting from the use of this website. Users who violate these general terms and conditions are liable for any resulting damage to DreamPlannr or third parties.
        Links and advertisements on DreamPlannr's website are not the responsibility of DreamPlannr for their content. DreamPlannr is also not responsible for any damage resulting from the use of linked sites.
        Data in the DreamPlannr database come from third parties, and DreamPlannr is not responsible for the accuracy of this data. Damage resulting from inaccurate data in the database and displayed on the site cannot be attributed to DreamPlannr.
        DreamPlannr takes measures to keep user data confidential. Any exposure of data, nonetheless, is not the responsibility of DreamPlannr for any resulting damage.
        </p>

    <h4><b>Force Majeure</b></h4>

    <p>DreamPlannr is not responsible for delays caused by communication defects, viruses, disruptions,
         or internet congestion, considered as force majeure.</p>

    <h4><b>Duration and Access</b></h4>

    <p>DreamPlannr has the right to temporarily or permanently deny access to users who violate the general terms and conditions or use inappropriate language, as determined by DreamPlannr, whether related to religion, orientation, or any other aspect.
        DreamPlannr can make improvements or additions to the website at any time. DreamPlannr can also temporarily disable parts of the site for maintenance.
        DreamPlannr aims to provide access to the website 24/7 but does not guarantee uninterrupted service.
        </p>

    <h4><b>Personal Data</b></h4>

    <p>User-entered personal data is stored by DreamPlannr in a database and is only used for the functional operation of DreamPlannr. If DreamPlannr intends to use the entered personal data for purposes other than those provided, prior permission will be sought.
        <br><br> The Data Processing Agreement is part of the Terms and Conditions.
        </p>


</body>
</html>